<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>姓名案例-插值语法实现</title>
    <script type='text/javascript' src='../js/vue.js'></script>
</head>

<body>
    <div id='root'>
        <h3>姓：<input type="text" v-model="firstName"></h3>
        <h3>名：<input type="text" v-model="lastName"></h3>
        <h3>全名：{{firstName.slice(0,3)}}-{{lastName}}</h3> <!--slice(start,end)表示截取下标为start到end的字符-->
    </div>
</body>

<script type='text/javascript'>
    const vm = new Vue({
        el: '#root',
        data: {
            firstName: '张',
            lastName: '三'
        }
    });
</script>

</html>